* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
#header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: space-around;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    margin-left: 15px;
}

.header-nav a {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    margin-left: 15px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn1:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.nav-btn1 {
    border-radius: 4px;
    height: 43px;
    width: 110px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    cursor: pointer;
    border: none;
}

.nav-btn2:hover {
    /*background: #173A56;*/
    /*transition: 2s;*/
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.nav-btn2 {
    background: #02897A;
    border-radius: 4px;
    margin-left: 15px;
    height: 43px;
    width: 110px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.header-nav img {
    padding-left: 15px;
}

.header-nav, a:hover {
    color: blue;
    transition: 1s;
}

/*HEADER*/

/*HERO*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.hero-title {
    margin: 0 30px;
}

.hero-img {
    margin: 0 30px;
}

.hero-title p {
    margin: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}

.hero-title h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
    margin: 15px;
}

.hero-title button {
    background: #02897A;
    border-radius: 4px;
    height: 53px;
    width: 175px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.hero-title button:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.hero-title a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
    cursor: pointer;
}

.hero-title a:hover {
    transition: 1s ease-in-out;
    color: #4F95DA;
}

/*HERO*/

/*PRODUCT*/
#product {
    background: url("../img/fon.png") no-repeat center/cover;
    min-height: 70vh;
}


.product {
    margin: 105px 0;
}

.product--text h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;

}

.product--general {
    padding-top: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product--general--one div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #02897A;
    border-radius: 19px;
    margin-bottom: 30px;

}

.product--general--one h1 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    margin-bottom: 13px;
}

.product--general--one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product--general--one2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #4D8DFF;
    border-radius: 19px;
    margin-bottom: 30px;

}

.product--general--one2 h1 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    margin-bottom: 13px;
}

.product--general--one2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product--general--one3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #740A76;
    border-radius: 19px;
    margin-bottom: 30px;

}

.product--general--one3 h1 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    margin-bottom: 13px;
}

.product--general--one3 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product--general--one4 div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #F03E3D;
    border-radius: 19px;
    margin-bottom: 30px;

}

.product--general--one4 h1 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    margin-bottom: 13px;
}

.product--general--one4 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.product-btn button {
    height: 53px;
    width: 175px;
    border-radius: 4px;
    background: #02897A;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin: 40px 0;
    cursor: pointer;
}

/*PRODUCT*/

/*CUSTOMER*/

.world {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.customers-text h4 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.customers-text h1 {
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    margin-bottom: 23px;
}

.customers-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.customers-text h6 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 20px 0;
}

.customers-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

/*CUSTOMER*/


#wort-title {
    margin: 60px 0;
}

.word-text h4, h1, p, h5 {
    margin: 20px 0;
}

.word-text h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;

}

.word-text h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;

}

.word-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.word-text h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.word-title {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


#wort-title2 {
    margin: 60px 0;
}


#wort-title3 {
    margin: 60px 0;
}

.galician {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    display: flex;
    align-items: center;

}

.galician ion-icon {
    border-radius: 4px;
    background: #f7ff00;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    margin: 0 20px;
}

.galician2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    display: flex;
    align-items: center;
}

.galician2 ion-icon {
    border-radius: 6px;
    background: #f30619;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    margin: 0 20px;
}

.galician3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    display: flex;
    align-items: center;
}

.galician3 ion-icon {
    border-radius: 4px;
    background: #0066ff;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    margin: 0 20px;
}

#product-btn {
    background: url("../img/fon-bottom.png") no-repeat center/cover;
    min-height: 70vh;

}

.product-btn-logo h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    padding: 40px 0;
}

.product-btn-logo h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
}

.pro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-btn2 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 40px 0;


}

.cursor{
        display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-btn2 h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

/*block*/
#blocks {
    padding: 50px 0;
    background: white;
}
.blocks h1 {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}
.blocks p {
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    padding: 25px 0;
}
.blocks-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block {
    width: 348px;
    height: 359px;
    background: #E5E5E5;
    border-radius: 8px;
}
.block h3 {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 10px 15px;
}
.block h3 span {
    font-weight: 700;
    font-size: 16px;
    color: #22343D;
}
.block h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding: 0 15px;
}
.blocks-icon {
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocks-icon a {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    color: #02897A;
}
/*block*/

/*price*/
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.price-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-title1 {
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 300px;
    background: #E5E5E5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 322px;
}
.free1 {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.free1 h1 {
    font-weight: 700;
    font-size: 24px;
    color: #22343D;
    padding-bottom: 15px;
}
.free1 p {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}
.free1 h2 {
    position: relative;
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}
.price-nav p {
    padding: 8px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.price-btn {
    padding: 25px 0;
}
.price-btn button:hover {
    background: transparent;
    border: 2px solid #F03E3D;
}
.price-btn button {
    background: #02897A;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: .4s;
    cursor: pointer;
}
.price-title2 {
    margin: 0 55px;
    width: 322px;
    height: 456px;
    background: #02897A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.free2 {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.free2 h1 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.free2 p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.free2 h2 {
    position: relative;
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.price-nav2 p {
    padding: 8px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.price-btn2 {
    padding: 25px 0;
}
.price-btn2 button:hover {
    background: wheat;
    border: 2px solid #F03E3D;
}
.price-btn2 button {
    background: #FFFFFF;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    color: #02897A;
    transition: .4s;
    cursor: pointer;
}
/*price*/

/*join*/
#join {
    padding: 50px 0;
    background: #FFFFFF;
}
.join {
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
}
.join h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}
.join-title button:hover {
    background: wheat;
    border: 2px solid #F03E3D;
}
.join button {
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    transition: .4s;
    cursor: pointer;
}
/*join*/










#footer {
    padding: 80px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 180px;
}

.footer-logo h1 {
    color: #173A56;
    padding-left: 16px;
}

.footer-logo a {
    color: #02897A;
}

.footer-down {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-left h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-left p {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 10px 0;
}

.footer-right h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-right p {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 10px 0;
}

.footer-down label {
    padding: 40px 0;
}

.footer-down input {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    line-height: 30px;
}

.footer-down h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-down button {
    height: 39px;
    width: 131px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.tittle {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    text-align: center;
    padding: 40px 0;
}